:root {
  --error-color: #f34c4c;
  --grayed-out-color: #d4d4d4;
  --midnight-color: #5039a3;
  --search-bar-height: 50px;
}

.Search {
  margin-bottom: 80px;
}

.Search label {
  display: inline-block;
  color: var(--midnight-color);
  font-size: 17px;
  font-weight: bold;
  margin-bottom: 5px;
  margin-left: 20px;
}

.Search-input-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  border-radius: 30px;
}

.Search input {
  font-size: 22px;
  width: 100%;
  height: var(--search-bar-height);
  padding: 10px 30px 10px 45px;
  border-radius: inherit;
  outline: none;
  border: 2px solid transparent;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.04);
  transition: all 0.125s linear;
}

.Search input:focus {
  border-color: #83c0fd;
  box-shadow: 0 15px 30px rgba(85, 57, 162, 0.125)
}

.Search input::placeholder {
  color: var(--grayed-out-color);
}

.Search.invalid input {
  border-color: var(--error-color);
}

.Search-icon {
  position: absolute;
  height: 20px;
  fill: var(--grayed-out-color);
  left: 15px;
}

.Search-button {
  position: absolute;
  right: 5px;
  height: calc(var(--search-bar-height) - 10px);
  font-size: 14px;
  font-weight: 700;
  padding: 0 25px;
  background-color: var(--midnight-color);
  color: white;
  cursor: pointer;
  border-radius: 30px;
  border: none;
  box-shadow: -10px 0 20px -7px rgba(80, 57, 163, 0.5);
  transition: opacity 0.15s linear;
}

.Search-button:hover {
  opacity: 0.8;
}

.Search-validation-msg {
  margin-left: 20px;
  margin-top: 3px;
  color: var(--error-color);
  font-weight: bold;
}